@import url('https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap');
@import 'tailwindcss';

@theme {
  --font-geist: 'Geist', sans-serif;
}

.blur {
  @apply blur-md;
}

.shake {
  animation: shake 0.4s ease-in-out infinite;
}
@keyframes shake {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-100px);
  }
  50% {
    transform: translateX(100px);
  }
  75% {
    transform: translateX(-100px);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slideUp {
  from {
    transform: translateY(100px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes naruto-run {
  0% {
    transform: translateX(-200px);
  }
  100% {
    transform: translateX(120vw);
  }
}

.animate-naruto-run {
  animation: naruto-run 2s linear forwards;
}

.animate-slide-up {
  animation: slideUp 0.7s ease-out;
}
